<ion-view>
    <ion-nav-title>
        Home
    </ion-nav-title>
    <ion-content scroll="false" class='padding'>
        <div class="row">
            <div class="col text-center" style='max-width:200px;margin:auto;'>
                <img src="img/logo.png" style='width:100%;border-radius: 40%;'>
            </div>
        </div>
        <div class="row">
            <div class="col col-xs-12 col-md-8 text-center" style="">
                <button  class="button royal home-button" ui-sref='app.latest_news'>Latest News</button>
            </div>
            <div class="col text-center">
                <button class="button royal home-button" ui-sref='app.top_news'>Top News</button>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <a href='timetable.html' class="button royal home-button">Educational</a>
            </div>
            <div class="col text-center">
                <button class="button royal home-button" ui-sref='app.about'>About</button>
            </div>
        </div>
    </ion-content>
</ion-view>